<div class="modal-header">
  <h3 class="modal-title in-black">{{ $ctrl.headerText }}</h3>
  <!-- <span class="close pull-right">&times;</span> -->
</div>
<div class="modal-body pb-5">
  <form name="createCommentForm" novalidate>
    <!-- ng-submit="createCommentForm.$valid && $ctrl.submitCreate()"> -->
    <textarea name="comment" ng-model="$ctrl.commentData.text" rows="4" cols="40"
      class="form-control mb-15" placeholder="Enter Your Comment" required>
    </textarea>
    <div class="text-right mb-15">
      <!-- <span>Attach</span> -->
      <i ng-show="createCommentForm.file.$error.maxSize">File too large
          {{errorFile.size / 1000000|number:1}}MB: max 10M</i>
      <div class="button mb-15" name="file" ngf-select ng-model="$ctrl.commentData.attachment"
        accept="image/jpg,image/jpeg,image/png" ngf-max-size="10MB">
        <span class="glyphicon glyphicon-paperclip mr-5"></span>
      </div>
      <img ng-show="$ctrl.commentData.attachment" ngf-thumbnail="$ctrl.commentData.attachment"
        class="thumb mb-15">
    </div>
    <div class="text-right">
      <button ng-disabled="!createCommentForm.$valid"
        class="btn btn-primary mb-15 mr-15" ng-click="$ctrl.ok()">Save</button>
      <button class="btn btn-default mb-15" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <!-- <div class="pb-5"> -->
    <!-- <div class="divider" /> -->
    <div ng-repeat="comment in $ctrl.comments | orderBy:$ctrl.orderProp" class="pt-15 pr-15 pb-5 pl-15">
      <div class="text-left">
        <span class="mr-15 in-grey-500">{{ $ctrl.formatDate(comment.created_at) }}</span>
        <span class="glyphicon glyphicon-trash" ng-click="$ctrl.deleteComment(comment)"></span>
      </div>
      <p class="mb-5">{{ comment.text }}</p>
      <a href="{{ comment.attachment.url }}" ng-show="comment.attachment.url">
        <img class="attachment" ng-show="comment.attachment.preview.url"
             ng-src="{{ comment.attachment.preview.url || '#' }}"
             height="200" alt="attachment image">
      </a>
    </div>
  <!-- </div> -->
</div>
