<form name="$ctrl.createForm" novalidate
    ng-submit="$ctrl.createForm.$valid && $ctrl.submitCreate()">
  <div class="mb-20">
    <div class="form-group">
      <input ng-model="$ctrl.projectName" type="text" class="form-control" placeholder="Enter Project Name..."
      ng-focus="$ctrl.state.showButtons = true" required />
    </div>
  </div>
  <div ng-show="$ctrl.state.showButtons">
    <button type="submit" ng-disabled="!$ctrl.createForm.$valid" class="btn btn-primary mb-15 mr-15 ">
      Create Project
    </button>

    <button ng-click="$ctrl.resetForm()" class="btn btn-default mb-15 mr-15 ">
      Cancel
    </button>
  </div>

</form>

form valid? - {{ $ctrl.createForm.$valid }}<br>
{{ $ctrl.projectName }}
